    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'homepage' %}">Q&A Hub</a>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ask</button>
            </form>

            <div class="d-flex gap-2 align-items-center">
                <div>
                    <img src="hello.jpg" class="img-thumbnail" alt="...">
                </div>
                <div class="content">
                    <div class="content__name">Dr. Pepper</div>
                    <div class="content__links">
                        <a href="{% url 'settings' %}">Settings</a>
                        <a href="#">Log out</a>
                    </div>
                </div>

            </div>

        </div>
    </nav>