{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-4">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div class="border mb-2 w-100">
                        <img src="{% static 'img/avatar.png' %}" alt="img" class="img-fluid">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">{{ question.title }}</h5>
                        <p class="card-text">{{ question.content }}</p>
                    </div>
                    <div class="row">

                        <div class="col">
                            <span>Tags:</span>

                            {% for tag in question.tags.all %}
                                {% include "tag_block.html" with tag=tag style="primary" %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">

        {% for answer in answers %}
            {% include "answer_card.html" with answer=answer %}
        {% endfor %}

    </div>

    <div class="mt-3">
        <textarea class="form-control" rows="4" placeholder="Enter your answer here.."></textarea>
        <button class="btn btn-dark mt-2">Answer</button>
    </div>
</div>

{% endblock content %}