{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="d-flex align-items-center gap-2 mb-4">
        <h1>Settings: Dr. Pepper</h1>
    </div>

    <form>
        <div class="mb-3">
            <label for="login" class="form-label">Login</label>
            <input type="text" class="form-control" id="login" value="dr_pepper">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" value="dr.pepper@mail.ru">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">NickName</label>
            <input type="text" class="form-control" id="nickname" value="Dr. Perpper">
        </div>
        <div class="mb-3">
            <label class="form-label">Upload avatar</label>
            <div class="mb-2">
                <img src="avatar.jpg" alt="Avatar" class="img-thumbnail" width="100">
            </div>
            <input type="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-dark">Save</button>
    </form>
</div>

{% endblock content %}